<div
  class="container w-full md:max-w-4xl mx-auto pt-16 bg-gray-50 dark:bg-gray-800"
>
  <div
    class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
    style="font-family: Georgia, serif"
  >
    <div class="font-sans">
      <h1
        class="font-bold font-sans break-normal text-gray-900 dark:text-white pt-6 pb-2 text-3xl md:text-4xl"
      >
        Bienvenido {{ username }}
      </h1>
    </div>

    <p class="py-6 dark:text-white">
      "💪 Enfrenta cada desafío con valentía y determinación, porque dentro de
      ti reside la fuerza para superar cualquier obstáculo. 🌟 Cada paso hacia
      adelante, por pequeño que sea, te acerca un poco más a tus metas. Confía
      en ti mismo y en tu capacidad para crecer y aprender. 🚀 Recuerda que las
      adversidades son oportunidades disfrazadas de lecciones. ¡Tú puedes
      lograrlo, sigue adelante con firmeza y optimismo! 💫"
    </p>

    <p class="py-6 dark:text-white">
      "🌟 No te detengas ante los desafíos, cada obstáculo es una oportunidad
      para crecer. 💪 Confía en tu fuerza interior y persiste con determinación.
      🚀 Cada paso que das te acerca más a tus sueños. ✨ Recuerda, el éxito
      está en la constancia y la actitud positiva. ¡Tú tienes el poder de
      alcanzar todo lo que te propongas! 💫"
    </p>
  </div>
</div>
